Repository linkml/linkml, pull requests merged in 2024-08, with the labels that each got.

#2252 Allow "null" for optional slots in json schema gen
  linkml/generators/jsonschemagen.py
  pyproject.toml
  tests/test_biolink_model/__snapshots__/biolink.schema.json
  tests/test_biolink_model/test_biolink_model.py
  tests/test_compliance/test_boolean_slot_compliance.py
  tests/test_compliance/test_compliance.py
  tests/test_compliance/test_core_compliance.py
  tests/test_compliance/test_inheritance_compliance.py
  tests/test_generators/input/jsonschema_class_inheritance.yaml
  tests/test_generators/input/jsonschema_type_inheritance.yaml
  tests/test_generators/input/not_required.yaml
  tests/test_generators/test_jsonschemagen.py
  tests/test_issues/__snapshots__/issue_120.json
  tests/test_issues/__snapshots__/issue_177.json
  tests/test_issues/__snapshots__/issue_202.json.schema
  tests/test_issues/__snapshots__/issue_239.json
  tests/test_issues/__snapshots__/linkml_issue_388.schema.json
  tests/test_issues/test_issue_120.py
  tests/test_issues/test_issue_129.py
  tests/test_issues/test_issue_177.py
  tests/test_issues/test_issue_202.py
  tests/test_issues/test_issue_239.py
  tests/test_issues/test_issue_652.py
  tests/test_issues/test_linkml_issue_388.py
  tests/test_scripts/__snapshots__/genjsonschema/meta.json
  tests/test_scripts/__snapshots__/genjsonschema/meta_inline.json
  tests/test_scripts/test_gen_json_schema.py
  tests/test_validator/input/not_required_data.yaml
  tests/test_validator/test_jsonschema_validation_plugin.py
Labels: generator-jsonschema

#2274 Update java.rst - vs _ in output-directory option
  docs/generators/java.rst
Labels: community-generated

#2287 [pydanticgen] Sort `Imports`
  linkml/generators/pydanticgen/pydanticgen.py
  linkml/generators/pydanticgen/template.py
  linkml/generators/pydanticgen/templates/imports.py.jinja
  linkml/generators/pydanticgen/templates/module.py.jinja
  pyproject.toml
  tests/test_generators/test_pydanticgen.py
Labels: generator-pydantic

#2273 fix autogen'd pydantic regex pattern validator
  linkml/generators/pydanticgen/templates/validator.py.jinja
Labels: community-generated
