Repository linkml/linkml, pull requests merged in 2024-03, with the labels that each got.

#1927 Pydanticgen - Modularize template
  docs/conf.py
  docs/generators/pydantic.rst
  examples/PersonSchema/personinfo_pydantic.py
  linkml/generators/pydanticgen/__init__.py
  linkml/generators/pydanticgen/pydanticgen.py
  linkml/generators/pydanticgen/template.py
  linkml/generators/pydanticgen/templates/attribute.py.jinja
  linkml/generators/pydanticgen/templates/base_model.py.jinja
  linkml/generators/pydanticgen/templates/class.py.jinja
  linkml/generators/pydanticgen/templates/conditional_import.py.jinja
  linkml/generators/pydanticgen/templates/enum.py.jinja
  linkml/generators/pydanticgen/templates/footer.py.jinja
  linkml/generators/pydanticgen/templates/imports.py.jinja
  linkml/generators/pydanticgen/templates/module.py.jinja
  linkml/generators/pydanticgen/templates/validator.py.jinja
  tests/test_generators/test_pydanticgen.py
  tests/test_scripts/input/pydantic/attribute.py.jinja
  tests/test_scripts/input/pydantic/class.py.jinja
  tests/test_scripts/input/pydantic/simple.yaml
  tests/test_scripts/test_gen_pydantic.py
Labels: generator-pydantic

#1959 [pydanticgen] Replace classmethod-property chain with init subclass
  linkml/generators/pydanticgen/template.py
Labels: bug, generator-pydantic

#1982 Cast rdflib `Namespace` instances to strings when used as `base` for contextgen
  linkml/generators/jsonldcontextgen.py
  linkml/generators/prefixmapgen.py
  tests/test_generators/test_contextgen.py
Labels: generator-jsonld

#1989 use typing version of Tuple, not class for 3.8 compat
  linkml/utils/ifabsent_functions.py
Labels: bug

#1992 Make pyshacl an `extra`
  .github/workflows/main.yaml
  poetry.lock
  pyproject.toml
Labels: devops

#1990 Include python version in CI cache key
  .github/workflows/main.yaml
Labels: bug, devops

#2002 Update lockfile
  poetry.lock
Labels: chore

#2023 Automatically PR to update poetry lockfile
  .github/workflows/poetry-update.yaml
Labels: devops, poetry

#1887 [pydanticgen] Add list of lists array implementation
  .github/workflows/doc_pages.yaml
  .github/workflows/docs-test.yaml
  docs/_includes/arrays/any_shape.yaml
  docs/_includes/arrays/bounded_shape.yaml
  docs/_includes/arrays/complex_shape.yaml
  docs/_includes/arrays/example.yaml
  docs/_includes/arrays/parameterized_shape.yaml
  docs/_static/css/common.css
  docs/_static/css/notebooks.css
  docs/conf.py
  docs/faq/index.rst
  docs/faq/tricky_choices.md
  docs/generators/pydantic.rst
  docs/howtos/multidimensional-arrays.md
  docs/howtos/recognize-structural-forms.md
  docs/schemas/arrays.md
  docs/schemas/index.rst
  linkml/generators/pydanticgen/array.py
  linkml/generators/pydanticgen/black.py
  linkml/generators/pydanticgen/build.py
  linkml/generators/pydanticgen/pydanticgen.py
  linkml/generators/pydanticgen/template.py
  linkml/generators/pydanticgen/templates/base_model.py.jinja
  poetry.lock
  pyproject.toml
  tests/conftest.py
  tests/test_compliance/test_array_compliance.py
  tests/test_generators/input/arrays/all_arrays.yaml
  tests/test_generators/input/arrays/any_shape.yaml
  tests/test_generators/input/arrays/bounded_dimensions.yaml
  tests/test_generators/input/arrays/complex_dimensions.yaml
  tests/test_generators/input/arrays/error_complex_dimensions.yaml
  tests/test_generators/input/arrays/error_complex_unbounded.yaml
  tests/test_generators/input/arrays/parameterized_dimensions.yaml
  tests/test_generators/test_pydanticgen.py
Labels: generator-pydantic, arrays

#2028 Automatically PR to update poetry lockfile v2
  .github/workflows/poetry-update.yaml
Labels: devops
