Repository linkml/linkml, pull requests merged in 2024-09, with the labels that each got.

#2178 Array Representation 2: `numpydantic`
  docs/schemas/arrays.md
  linkml/generators/pydanticgen/array.py
  linkml/generators/pydanticgen/pydanticgen.py
  linkml/utils/exceptions.py
  poetry.lock
  pyproject.toml
  tests/conftest.py
  tests/test_generators/input/arrays/dtype.yaml
  tests/test_generators/input/arrays/validator_errors.yaml
  tests/test_generators/test_pydanticgen.py
Labels: generator-pydantic, arrays

#2218 [perf] minor pydanticgen perf boosts - remove unnecessary object creation
  linkml/generators/pydanticgen/build.py
  linkml/generators/pydanticgen/pydanticgen.py
Labels: generator-pydantic

#2135 Add output option to TS generator
  linkml/generators/typescriptgen.py
  tests/test_generators/test_typescriptgen.py
Labels: community-generated
