Repository linkml/linkml, pull requests merged in 2025-05, with the labels that each got.

#2646 Restructuring content between Markdown/Documentation generator pages
  docs/generators/docgen.rst
  docs/generators/markdown.rst
  linkml/generators/docgen.py
Labels: documentation

#2607 Generator template fixes: ensure multiline descriptions are dealt with correctly
  linkml/generators/docgen/index.md.jinja2
  linkml/generators/pydanticgen/templates/enum.py.jinja
  linkml/generators/sqltablegen.py
  tests/test_generators/test_docgen.py
  tests/test_generators/test_pydanticgen.py
Labels: generator-doc, generator-pydantic

#2649 Misc SQL transform code and test edits
  linkml/generators/sqltablegen.py
  tests/test_generators/test_sqltablegen.py
  tests/test_transformers/input/personinfo.yaml
  tests/test_transformers/test_sqltransform.py
Labels: testing, generator-SQL

#2639 Add `truncate_descriptions` option to docgen
  linkml/generators/docgen.py
  tests/test_generators/test_docgen.py
Labels: enhancement, generator-doc
